.nav{
    background-color:lightgray;
    height: 60px;
    font-family:  'Lucida Sans Unicode';
    font-size: 25px;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

img{
    height:300px;
    width:100%;
    border-top: 10px solid rgb(63, 85, 107);
}

h1{
    text-align: center
}

.footer{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: rgb(128, 124, 120);
}

.listDiv{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    
    
}

#listUl{
    
    grid-column: 2;
    font-size:30px;
}
  
  
  
#nav1:hover{
    color: red;
}

#nav2:hover{
    color:red;
}

#nav3:hover{
    color:red;
}

body {
    background-color: rgb(182, 203, 220)
}