

.box1{
    background-color: aqua;
}
.box2{
    background-color: brown;
}
.box3{
    background-color: aquamarine;
}
.box4{
    background-color: coral;
}
.box5{
    background-color: beige;
}
.box6{
    background-color: bisque;
}
.box7{
    background-color: blueviolet;
}
.box8{
    background-color: red;
}
.box9{
    background-color: blue;
}
.box10{
    background-color: yellow;
}