* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url('./Photos/binary.jpg') no-repeat fixed 10%  0%;
    background-size: contain;
   
}


.navbar {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
}


.link{
    font-size: 25px;
    font-weight: 500;
    font-family: 'verdana';
    text-decoration: none;
    margin: 28px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
}


.link:hover {
    color: rgb(57, 81, 100)
}



.navbarP2{
        color:rgb(89, 210, 237);
        font-size: 27px;
        font-family: 'verdana';
        font-weight: 600;
        margin-top: 50px;
        width: 400px;
        margin-left: 1070px;
        position: absolute;
        transition: all 0.4s ease-in-out 0.1s;
    
}
    
.developer{
        color: rgb(8, 54, 139);
        font-size: 18px;
        font-family: 'verdana';
        font-weight: 600;
        margin-top: 85px;
        width: 300px;
        margin-left:1130px; 
}


.home1{
  
 height: 350px;
 background-color:  rgba(32, 50, 83, 0.24);
 border-top: 90px solid rgba(45, 52, 75, 0.822); 
 
   
 
}


.home2{ 
    background-color: rgba(18, 18, 44, 0.883);
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid  rgb(0, 204, 255, 20);
    border-bottom: 2px solid  rgb(0, 204, 255, 20);
}  

.home2 p{
    animation: translateToPosition 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes translateToPosition{
    0%{
        transform: translateX(-1000px);
        letter-spacing: 25px;
        opacity: 0.2;
    }
    50%{
        transform: translateX(200px);
    }
    100%{
        transform: translateX(0);
        letter-spacing: 0;
        opacity: 1;
    }
}

.home2 h5{
    animation: translateToPosition1 5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes translateToPosition1{
    0%{
        transform: translateX(1000px);
        letter-spacing: 15px;
        opacity: 0.2;
    }
    50%{
        transform: translateX(-300px);
    }
    100%{
        transform: translateX(0);
        letter-spacing: 0;
        opacity: 1;
    }
}

.home3 {
   
    background-color: rgba(16, 16, 31, 0.947);
    height: 800px;
    padding: 50px;
    border-bottom: 2px solid rgb(0, 204, 255,20);
    border-top: 2px solid rgb(0, 204, 255, 20);

}


.home4{  
    background-color: rgba(32, 50, 83, 0.24);
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
 }   

 .home5{
     height:200px;
     width: 100%;
     background-color: rgba(67, 87, 105, 0.301);
 }


.aboutP{
    
    font-family: 'verdana';
    color: rgb(236, 236, 236);
    font-size: 19px;
    font-family: 'verdana';
    font-weight: 520;
    text-align: center;
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    
    
}


.provide{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  
 
}

.inline{
   
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(1, 2, 11, 0);
    height: 85px;
    width: 300px;
    margin:auto;
    border-radius: 23px;
    position: relative;
    
}
    
    


ul{
    margin: 100px;
    margin-top: 30px;
    
}

li{
    color: rgb(250, 250, 250);
    font-size: 19px;
    font-family: 'verdana';
    font-weight: 520;
    margin: auto;

    
}

.linkedin{
    background-image: url( './Photos/linkedin.png')  ; 
    height: 54px;
    width: 54px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 40px;
    transition: 0.5s ease-in-out 0.2s;
    border: 10px solid black;
    border-radius: 10px;
   
    
}

.linkedin:hover{

    height: 65px;
    width: 65px;
}

.git{
    background-image: url( './Photos/git.png')  ; 
    height: 57px;
    width: 57px;
    background-position: center ;
    background-size: cover;
    display:inline-block;
    margin-left: 40px;
    transition: 0.5s ease-in-out 0.2s;
    border: 5px solid black;
    border-radius: 300px;
}

.git:hover{

    height: 68px;
    width: 68px;
}

.git2{
    background-image: url( './Photos/git.png')  ; 
    height: 47px;
    width: 47px;
    background-position: center ;
    background-size: cover;
    display:flex;
    margin: auto;
    transition: 0.5s ease-in-out 0.2s;
    border: 5px solid black;
    border-radius: 300px;
}


.contact{
    background-color: rgba(16, 16, 31, 0.947);
    height: 600px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(0, 204, 255,20);
    font-family: 'verdana';
    color:rgb(223, 223, 223);
    font-size: 24px;
}

.contact1{
    display: block;

}
 

h1{
     margin-bottom: 40px;
 }

 
 
 .work{
     text-align: center;
     margin:  50px;
     font-size: 27px;
 }


 .welcomeP{
    
    font-size: 27px;
    font-family: 'verdana';
    font-weight: 700;
    text-align: center;
    width:auto;
    color: rgb(255, 255, 255);
    
}

h5{
    color: rgba(233, 233, 233, 0.678);
    font-size: 17px;
    font-family: 'verdana';
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
    
}


.react1 {
    background-image: url( './Photos/react.png')  ; 
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin:auto;
    animation: reverseLogo 5s linear infinite
}

@keyframes reverseLogo{
    from{
        transform: rotateZ(0deg)
    }
    to{
        transform: rotateZ(360deg)
    }
}

.logos {
    display: flex;
    width: 850px;
    margin:auto;
}


.ID {
    background-image: url( './Photos/portfolio.jpg')  ; 
    background-position: center;
    background-size: cover;
    height: 170px;
    width: 170px;
    border: 5px solid rgba(224, 224, 224, 0.945);
    border-radius: 100px;
    margin:auto;
}

   

.javascript {
    background-image: url( './Photos/javascript.png')  ; 
    background-position: center;
    background-size: cover;
    height: 145px;
    width: 120px;
    margin:auto;
    animation: shake 13s  infinite;
}

.react {
    background-image: url( './Photos/react2.png')  ; 
    background-position: center;
    background-size: cover;
    height: 70px;
    width: 65px;
    margin:auto;
    animation: shake 16s  infinite;
}

.html {
    background-image: url( './Photos/html.png')  ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 80px;
    margin:auto;
    animation: shake 14s  infinite;

}

.css {
    background-image: url( './Photos/css.png')  ; 
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 50px;
    margin:auto;
    animation: shake 17s  infinite;
}



.node {
    background-image: url( './Photos/node.png')  ; 
    background-position: center ;
    background-size: cover;
    height: 65px;
    width: 110px;
    margin:auto;
    animation: shake 16s  infinite;

}


.mongo{
    background-image: url( './Photos/mongo.png')  ; 
    background-position: center;
    background-size: cover;
    height: 61px;
    width: 61px;
    margin:auto;
    animation: shake 15s  infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, 0px) rotate(-1deg); }
    20% { transform: translate(1px, 1px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, 1px) rotate(-1deg); }
  }


.projects{
    display: flex;
    align-items: center;
    justify-content: center;

}


.projects1{
    
    background-color: rgba(16, 16, 31, 0.947);
    border-bottom: 2px solid rgb(0, 204, 255,20);
    border-top: 2px solid rgb(0, 204, 255,20);
    font-family: 'verdana';
    color: white;
    display: block;
    height: 800px;
}

.exchange{
    width: 300px;
    height: 170px

}

.shell{
    width: 300px;
    height: 170px
}


.excDiv{
    
    width: 310px;
    height: 300px;
    /* border: 4px solid rgb(255, 255, 255); */
    border-radius: 5px;
    margin: 30px;
    display: block;
    
}



.shellDiv{
    width: 310px;
    height: 300px;
    /* border: 4px solid rgb(255, 255, 255); */
    border-radius: 5px;
    margin: 30px;
    display:block;
    
}

.exchangeText,
.shellText{
    margin: 10px;
}

@media only screen and (max-width: 768px) {

    .body{
        background: url('./Photos/binary.jpg');
        background-size: cover;
        position: fixed;
       
    }
    
    .navbar,
    .home1,
    .home2,
    .home3,
    .home4,
    .projects,
    .about{
        width: 100%;
        
    }

    
    .inline{
        margin:auto;
        width:auto;
    }
    
    .navbar{
        display:flex;
        align-items: center;
        justify-content: center;
       
    }
    
    .welcomeP{
        font-size: 25px;
    }

    
    .h5{
        font-size: 14px;
    }
    
    
    
    .navbarP2{
        margin:auto;
        margin-top: 70px;
        position: inherit;
        font-weight: bolder;
        font-size: 26px;
        text-align: center;
        width: auto;
       
    }
    
   .home1{
    border-top: 50px solid rgba(45, 52, 75, 0.897); 
   }
    
    .link{
        font-size: 17px;
        margin: auto;
        color: white;
        font-weight: 600;
        position: relative;
        padding-top: 17px;
        display: flex;
       
    }

    .developer{
       
        font-size: 17px;
        font-family: 'verdana';
        font-weight: 600;
        width: 200px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 200px;
        margin-top:0px;
        text-align: center;
       
    
}
    
    .aboutP{
        margin: 12px;
        border: 0px;
        padding-top: 7px;
        font-size:16px;
    }

    .projects{
        display:block;
       
    }
    
    
    .home3{
      
       height: auto;
       padding:10px;
       padding-bottom: 30px;
       
      
    }
    
    .work{
        margin-top: 60px;
        margin-bottom: 20px;
    }

    
    .ID{
        height: 120px;
        width:120px;
        margin-top: 55px;
        
    }
    
    
    .home1,
    .about,
    .home3{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    

    
    .logos{
        width:100%;
        height: 100px;
        margin: 0px;
        display:flex;
        align-items: center;
        justify-content: center;
        
    }

    
    .react{
        height: 40px;
        width: 40px;
        margin: auto;
        
    }
    
    
    .html,
    .css
    {
        height: 45px;
        width: 45px;
        margin: auto;
    }

    .javascript{
        height: 80px;
        width: 60px;
        margin: auto;
    }

    .node{
        height: 45px;
        width:  72px;
        margin: auto;
    }

    .mongo{
        height: 32px;
        width: 32px;
        margin: auto;
    }


      ul{
          margin: 20px;
          margin-top:15px;
          padding-left: 20px;
          width:120px;
          
      }

      li{
          font-size: 15px;
          width: 100px;
          margin: 5px;
      }

      .contact1{
          font-size: 17px;
         padding: 10px;
    
      }

      .linkedin,
      .git{
          margin: 10px;
          margin-right: 30px;
          margin-left: 30px;
      }

      .linkedin{
        height: 42px;
        width:42px;
   }
   
   .git{
       height: 44px;
        width:44px;
   
   }

   .projects1{
       height: 1300px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       
   }

   .shellDiv,
   .excDiv{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 290px;
       height: 400px;
       margin:auto;
   }

   .exchange,
   .shell{
       height: 160px;
       width: 270px;
       margin:auto;
   }

   .exchangeText,
   .shellText{
       font-size: 15px;
       
   }
}
