* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url('./Photos/portofo.jpg') no-repeat fixed 0%  0%;
    background-size: cover;
    height: auto;

}
  
   

.navbar {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    
    
}

.link{
    font-size: 23px;
    font-weight: 500;
   
    font-family: 'verdana';
    text-decoration: none;
    margin: 30px;
    color: white;
    

}

.link:hover{
    color: rgb(89, 225, 255)}


.home1{
  
 height: 300px;
 background-color:  rgba(255, 255, 255, 0.233);
 border-top: 90px solid rgba(7, 24, 28, 0.31);
   
 
}


.home2{ 
    background-color: rgba(10, 15, 36, 0.851);
    height: 150px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid rgb(89, 210, 237);
    border-bottom: 2px solid rgb(89, 210, 237);
}  


.home3 {
   
    background-color: rgba(16, 18, 31, 0.927);
    height: 750px;
    border: 50px solid rgba(10, 8, 21, 0.557);
    border-radius: 3px;

}


.home4{  
    background-color:rgba(255, 255, 255, 0.158);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(89, 210, 237);
    /* border-bottom:2px solid rgb(89, 210, 237); */
   
 }   



.aboutP{
    
    font-family: 'verdana';
    color: rgb(206, 199, 199);
    font-size: 20px;
    font-family: 'verdana';
    font-weight: 520;
    text-align: center;
    padding-top: 40px;
    margin-left: 160px;
    margin-right: 160px;
    
    
}


.provide{
  display: flex;
  justify-content: center;
  align-items: center
  
 
}

.inline{
   
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(1, 2, 11, 0.835);
    height: 60px;
    padding: 10px;
    width: 150px;
    margin:auto;
    border-radius: 300px;
    /* border:2px solid rgb(89, 210, 237); */
    position: relative;
    margin-top: 60px;
    
    
}

ul{
    margin: auto;
    margin-top: 30px;
}

li{
    color: rgb(206, 199, 199);
    font-size: 20px;
    font-family: 'verdana';
    font-weight: 520;
    margin:auto;
    
}

.linkedin{
    background-image: url( './Photos/linkedin.png')  ; 
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
}

.git{
    background-image: url( './Photos/git.png')  ; 
    height: 40px;
    width: 40px;
    background-position: center ;
    background-size: cover;
    display:inline-block;
    margin-left: 10px;
}




.projects,
.contact{
    background-color: rgba(28, 28, 42, 0.81);
    height: 850px;
    display:flex;
    align-items: center;
    justify-content: center;
}


 
 
 
.welcomeP{
    
    font-size: 33px;
    font-family: 'verdana';
    font-weight: 700;
    text-align: center;
    width:auto;
    color: rgb(223, 223, 223);
    
}

h5{
    color: rgba(172, 172, 172, 0.911);
    font-size: 20px;
    font-family: 'verdana';
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
    
}

.react {
    background-image: url( './Photos/react.png')  ; 
    background-position: center;
    background-size: cover;
    height: 60px;
    width: 60px;
    /* display: flex; */
    margin:auto;
}

.logos {
    display: flex;
    width: 800px;
    margin:auto;
}

.javascript {
    background-image: url( './Photos/javascript.png')  ; 
    background-position: center;
    background-size: cover;
    height: 140px;
    width: 120px;
    margin:auto;
   

}
.node {
    background-image: url( './Photos/node.png')  ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 140px;
    width: 140px;
    margin:auto;

}

.html {
    background-image: url( './Photos/html.png')  ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 90px;
    margin:auto;

}

.css {
    background-image: url( './Photos/css.png')  ; 
    background-position: center;
    background-size: cover;
    height: 90px;
    width: 90px;
    margin:auto;
}

.mongo{
    background-image: url( './Photos/mongo.png')  ; 
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 80px;
    margin:auto;
}




.navbarP2{
    color:rgb(89, 210, 237);
    font-size: 30px;
    font-family: 'verdana';
    font-weight: 500;
    margin-top: 100px;
    width: 500px;
    margin-left: 1070px;
    position: absolute;
    transition: all 0.4s ease-in-out 0.1s;

   
}

.developer{
    color: white;
    font-size: 20px;
    font-family: 'verdana';
    font-weight: 500;
    margin-top: 140px;
    width: 500px;
    margin-left:1140px;
    position: absolute;

}



.project{
    font-size: 25px;
    font-family: 'verdana';
    margin: 100px;
    color: rgba(179, 238, 16, 0.808); 
    font-size: 25px;
    font-family: 'verdana';
    font-weight: 500;
    text-align: center
}