* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url('./Photos/portofo.jpg') no-repeat fixed 0%  0%;
    background-size: cover;
    height: auto;

}
  
   

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    
    
}

.link{
    font-size: 21px;
    font-weight: 500;
    font-family: 'verdana';
    text-decoration: none;
    margin: 30px;
    margin-top: 30px;
    color: white;
}


.link:hover{
    color: rgb(89, 225, 255)}



.navbarP2{
        color:rgb(89, 210, 237);
        font-size: 25px;
        font-family: 'verdana';
        font-weight: 500;
        margin-top: 50px;
        width: 300px;
        margin-left: 1070px;
        position: absolute;
        transition: all 0.4s ease-in-out 0.1s;
    
}
    
.developer{
        color: white;
        font-size: 18px;
        font-family: 'verdana';
        font-weight: 500;
        margin-top: 85px;
        width: 300px;
        margin-left:1117px; 
       
    
}


.home1{
  
 height: 300px;
 background-color:  rgba(255, 255, 255, 0.233);
 border-top: 90px solid rgba(7, 24, 28, 0.31);
 
   
 
}


.home2{ 
    background-color: rgba(10, 15, 36, 0.851);
    height: 150px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid rgb(89, 210, 237);
    border-bottom: 2px solid rgb(89, 210, 237);
}  


.home3 {
   
    background-color: rgba(16, 18, 31, 0.927);
    height: 930px;
    border: 100px solid rgba(10, 8, 21, 0.557);
    border-left: 150px solid rgba(10, 8, 21, 0.557);
    border-right: 150px solid rgba(10, 8, 21, 0.557);
    border-radius: 5px;

}


.home4{  
    background-color:rgba(255, 255, 255, 0.158);
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(89, 210, 237);
    /* border-bottom:2px solid rgb(89, 210, 237); */
   
 }   



.aboutP{
    
    font-family: 'verdana';
    color: rgb(206, 199, 199);
    font-size: 19px;
    font-family: 'verdana';
    font-weight: 520;
    text-align: center;
    padding-top: 30px;
    margin-left: 25px;
    margin-right: 25px;
    
    
}


.provide{
  display: flex;
  justify-content: center;
  align-items: center
  
 
}

.inline{
   
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(1, 2, 11, 0.685);
    height: 50px;
    padding: 5px;
    width: 160px;
    margin:auto;
    border-radius: 300px;
    /* border:2px solid rgb(89, 210, 237); */
    position: relative;
    margin-top: 20px;
    
    
}

ul{
    margin: 100px;
    margin-top: 20px;
    
}

li{
    color: rgb(206, 199, 199);
    font-size: 17px;
    font-family: 'verdana';
    font-weight: 520;
    margin: auto;

    
}

.linkedin{
    background-image: url( './Photos/linkedin.png')  ; 
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;
}

.git{
    background-image: url( './Photos/git.png')  ; 
    height: 35px;
    width: 35px;
    background-position: center ;
    background-size: cover;
    display:inline-block;
    margin-left: 10px;
}




.projects,
.contact{
    background-color: rgba(28, 28, 42, 0.81);
    height: 850px;
    display:flex;
    align-items: center;
    justify-content: center;
}


 
.welcomeP{
    
    font-size: 33px;
    font-family: 'verdana';
    font-weight: 700;
    text-align: center;
    width:auto;
    color: rgb(223, 223, 223);
    
}

h5{
    color: rgba(172, 172, 172, 0.911);
    font-size: 17px;
    font-family: 'verdana';
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    margin-top: 10px;
    
}

.react {
    background-image: url( './Photos/react.png')  ; 
    background-position: center;
    background-size: cover;
    height: 62px;
    width: 55px;
    /* display: flex; */
    margin:auto;
}

.logos {
    display: flex;
    width: 850px;
    margin:auto;
}

.ID {
    background-image: url( './Photos/portfolio.jpg')  ; 
    background-position: center;
    background-size: cover;
    height: 140px;
    width: 140px;
    border: 6px solid rgb(17, 19, 36);
    border-radius: 300px;
    margin:auto;
    margin-top: 30px;
}
   

.javascript {
    background-image: url( './Photos/javascript.png')  ; 
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 127px;
    margin:auto;
   

}
.node {
    background-image: url( './Photos/node.png')  ; 
    background-position: center ;
    background-size: cover;
    height: 65px;
    width: 110px;
    margin:auto;

}

.html {
    background-image: url( './Photos/html.png')  ; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 80px;
    margin:auto;

}

.css {
    background-image: url( './Photos/css.png')  ; 
    background-position: center;
    background-size: cover;
    height: 80px;
    width: 50px;
    margin:auto;
}

.mongo{
    background-image: url( './Photos/mongo.png')  ; 
    background-position: center;
    background-size: cover;
    height: 61px;
    width: 61px;
    margin:auto;
}


.project{
    font-size: 25px;
    font-family: 'verdana';
    margin: 100px;
    color: rgba(179, 238, 16, 0.808); 
    font-size: 25px;
    font-family: 'verdana';
    font-weight: 500;
    text-align: center
}