h1{
    border : 3px solid black;
    width : 30px;
    text-align: center;
    display:grid;
    grid-column: 2

}

div{
    display:grid;
    grid-template-columns: 1fr,1fr 1fr
}

button{
    display:grid;
    grid-column: 2/3;
    width:100px;
}