
* {
    box-sizing: border-box;
}


body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    
}


 @font-face {
        font-family: 'verdemoderna';
        src: url(verdemoderna.woff);
    }



#toptrim {
        background-color: rgba(19, 67, 71, 1);
        padding-top: 10px;
        width: 100%
    }
    
p { margin: auto 100px;
    display: block;
    font-size: 100%;
    
    
}

h3 {
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin: auto 100px;
    
}

#middle1{
        background-attachment: scroll, scroll, fixed;
        background-color: rgba(138,188,159,0.5);
        background-image: url(./Pictures/contours-opaque.png), url(./Pictures/gridlines-opaque.png), url(./Pictures/bamboo.png);
        background-repeat: repeat, repeat, no-repeat;
        background-size: auto, auto, cover;
        
}
    

header {
    height: 230px;
    padding: 20px 0 70px 0;
    background: #2d6360 50% 0 url(./Pictures/huntington.jpg) no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(./Pictures/contours.png), url(./Pictures/noise.png), url(/Pictures/gridlines.png), url(/Pictures/huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
}


 h1 {
    color: white;
    margin-top: 10p;
    font-family: 'juliusSansOneV6', serif;
    font-weight: lighter;
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 1px;
 }

 h2 {
    font-family: 'juliusSansOneV5Italic';
    font-size: 18px;
    padding-top: 5px;
    color: rgba(250, 250, 250, .6);
 }

 

    #bottom{
    
    font-family: 'verdemoderna';
    font-size: 30px;
    background: #134347;
    margin: 0;
    padding: 20px 30px;
    text-align: center;

    }

   #container{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr  ;
    }

    