* {
    box-sizing: border-box;
    margin: 0;
}




.navbar {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #142b2bf1; 
    font-size: 25px;
    font-family:'verdana';
    font-weight: 600;
}



.navbar a {
    text-decoration: none;
    color: rgb(255, 123, 0);
}



.navbar a:hover{
    color: rgb(245, 217, 191);
}



.home {
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    justify-content: center;
    align-items: flex-end;
}




.about,
.home {
    background-image: url('./Photos/jetski.png');
    background-size: cover ;
    height: 740px;
    width: 100vw;
}



.logIn{
    display: block;
    height: 350px;
    width: 300px;
    border: 3px solid rgba(255, 123, 0, 0.911);
    border-radius:10px;
    background-color: rgba(5, 44, 49, 0.842);
    margin-left: 120px;
   
}


.logIn2{
    display: block;
    height: 350px;
    width: 300px;
    border: 3px solid rgba(255, 123, 0, 0.911);
    border-radius:10px;
    background-color: rgba(5, 44, 49, 0.842);
}





.loginForm{
    height: 90%;
}




.signupButton{
    margin-top: -70px;
    
}



.signUp {
    display: block;
    height: 350px;
    width: 300px;
    border: 3px solid rgba(255, 123, 0, 0.918);
    border-radius:10px;
    background-color: rgba(5, 32, 36, 0.774);
    margin-left: 120px;
}



.signUp2{
    display: block;
    height: 310px;
    width: 300px;
    border: 3px solid rgba(255, 123, 0, 0.918);
    border-radius:10px;
    background-color: rgba(5, 32, 36, 0.774);
    
}



.bookingContainer2{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 665px;
    width: 390px;
    border: 3px solid rgb(224, 108, 0);
    border-radius:10px;
    background-color: rgba(5, 32, 36, 0.76);
    margin-right: 300px;

}

.bookingContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 665px;
    width: 390px;
    border: 3px solid rgb(224, 108, 0);
    border-radius:10px;
    background-color: rgba(5, 32, 36, 0.76);
    margin-right: 300px;
    padding:20px;

}



.booking2{
    height: 530px;
    padding:15px;
}



.p2{
    margin-top: 10px;
    font-size: 21px;
}



.p3{
    margin-top: 10px;
    margin-bottom:20px;
    color:red;
    font-size:30px;
}


.edit{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 35px;
    width: 170px;
}


.editButton{
    width:100px;
    border-radius: 200px;
    margin:10px;
   
}


.bookingForm2{
    height:auto;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border: 3px solid rgb(224, 108, 0);
    border-radius:10px;
    background-color: rgba(3, 29, 31, 0.781);
    position: relative;
}


.p{
    color: rgb(245, 217, 191);
    font-family: "verdana";
    margin:auto;
    margin-left: 50px;
    font-size:25px;
    font-weight: 900;
}


p{
    color: rgb(245, 217, 191);
    font-family: "verdana";
    font-size:25px;
    font-weight: 900;
    text-align: center;
   
}


h4{
    text-align: center;
    color: rgb(245, 217, 191);
    font-family: "verdana";
    margin-top:20px;
    font-size:26px;
    font-weight: 900;
}



h2{
    text-align: center;
    color: rgb(255, 230, 210);
    font-family: "verdana";
    margin-top:-80px;
    margin-bottom: 50px;
    margin-right: 100px;
    font-weight: 900;

}



.date,
select{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    height: 35px;
    width: 210px;
    border: 3px solid  rgb(255, 123, 0);
    background-color:rgba(30, 30, 59, 0.205);
    color:rgb(240, 219, 161);
    font-size: 15px;
    border-radius: 5px;
}



input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    height: 35px;
    width: 210px;
    font-size: 15px;
    border: 3px solid  rgba(255, 123, 0, 0.877);
    border-radius: 5px;
    background-color: bisque;
}



button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top:24px;
    height: 37px;
    width: 130px;
    border: 3px solid  rgb(206, 99, 0);
    background-color:rgba(12, 31, 30, 0.979);
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
    color:rgb(255, 208, 164);
}



.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px;
    margin-top:20px;
    height: 37px;
    width: 130px;
    border: 3px solid  rgb(206, 99, 0);
    background-color:rgba(12, 31, 30, 0.979);
    border-radius: 5px;
    font-size: 19px;
    font-weight: 600;
    color:rgb(255, 208, 164);
}


.deleteButton{

    background-color: rgba(206, 0, 0, 0.87);
    color: rgb(255, 220, 197);
    width: 65px;
    height: 32px;
    margin: 10px;
    font-size: 12px;
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
    display: inline;
}


.deleteButton2{

    background-color: rgba(206, 0, 0, 0.87);
    color: rgb(255, 220, 197);
    width: 65px;
    height: 35px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 10px;
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
    display: inline;
}


.admin{
        
        background-color: #142b2bf1;
        height: 750px;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
}



.bookingList {
    border: 2px solid rgb(255, 123, 0);
    border-radius: 7px;
    background-color: rgba(12, 36, 41, 0.918);
    color:rgb(255, 232, 210);
    font-family: verdana;
    font-size: 20px;
    margin: auto;
    margin-top:20px;
    margin-bottom: 0%;
    padding:5px;
    width: 100%;
    text-align: center;
}



.homeBooking{
    border:3px solid rgb(245, 217, 191);
    border-radius: 5px;
    margin: 4px;
    padding: 20px;
}



.h1{
    text-align: center;
    font-family: verdana;
    font-size:45px;
    color:rgb(226, 102, 0);
    margin-bottom: 20px;
}



.contact{
    display:block;
    width:100vw;
}



.contact{
    background-image:url('./Photos/admin.jpeg') ;
    background-size:cover;
    display:block;
    position: fixed;
    background-color: rgb(36, 53, 50);
    height: 740px;
}



.adminPortal2{
    background-color: #142b2bf1;
    display: flex;
    flex-direction: column;
    height:800px;
}



.aboutText{
     color: #1c3a3a; 
     font-family: verdana;
     margin-left: 700px;
     width: 700px;
     margin-top: 40px;
     position:absolute;
}



.aboutText2{
    color: #1c3a3a; 
    font-family: verdana;
    margin:auto;
    width: auto;
    margin-top: 40px;
    text-align: center;
}



@media only screen and (max-width: 1024px) {

    .navbar{
        font-size: 16px;
    }

    
    .bookingContainer{
        margin:auto;
        margin-top: 40px;
        width:auto;
        padding:10px;
        height: 330px;
    
    }

    
    .date,
    select,
    input{
        width:180px;
        height: 30px;
        margin: auto;
        margin-top: 10px;
    }
    
    
    p{
        font-size: 19px;
    }
    
    
    .login{
        width:auto;
    }

   
    .about{
       display:flex;
       align-items: flex-start;
       justify-content: center;
       position: fixed;
       padding:20px;
    }


   .aboutText2,
   .aboutText{
      margin:auto;
      width:auto;
      height: auto;
      margin-top: 30px;
    }

   
   .editContainer,
   .bookingForm2{
       display:flex;
       flex-direction: column;
       align-content: center;
       justify-content: center;
       margin: auto;
       height: auto;
       width: auto;
    }
    
    
    .editContainer{
        margin-bottom: 350px;
    }
    
    
    .bookingList{
        font-size: 15px;
    }
    
    
    .signUp,
    .logIn{
        width:auto;
        padding:10px;
        height: auto;
        margin: auto;
        margin-bottom: 400px;
    }

   
    button{
        width:100px;
        height: 35px;
        font-size: 15px;
        margin-top: 15px;
    }

    
    .signupButton{
        position: relative;
        margin: auto;
        margin-top:10px;
    }
}