
.class{
  border : 10px solid black;
  margin: 5px;
  text-align: center;
  width: 70%;
  background-color: aliceblue
}

p{
    font-size: 25px;
}

body{
    background-color: aquamarine
}

.blue {
 border : 10px solid black;
  margin: 5px;
  text-align: center;
  width: 70%;
  background-color: blue;
}