* {
    box-sizing: border-box;
    margin: 0;
    
}




.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #58bd70d6;
    border: 20px solid black;
    font-size: 45px;
    font-family:'Times New Roman';
    font-weight: bolder
}

.navbar a {

    text-decoration: none;
    color: white;
}

.navbar a:hover{
      color: rgb(255, 0, 64);
}
    


.home,
.about,
.exchange {
    height: 680px;
    width: 100vw;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
   
}

.home {
    background: url('http://www.gccexchange.com/images/gcc-exchange-rates.jpg') no-repeat;
    background-size: 100% 100%;
    -webkit-filter: brightness(300%);
    filter: brightness(300%);
    -webkit-filter: contrast(70%); 
    filter: contrast(80%);
    display:block;
    text-align: center
    
}

.about {
    background-color: white;
    border:  70px solid white ;
}


.exchange {
    
    height: 70px;
    background-color: white;
    width: 550px;
    margin: auto ;
    border: 15px solid rgb(14, 65, 27);
    transition: all 0.5s ease-in-out 0.1s;
}

.exchange:hover{
    height: 100px;
    width: 700px;

}


.footer {
    background-color:rgba(18, 18, 74, 0.911);
    border: 8px solid black;
    height: 45px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px
    
}

 h2{
     color:rgb(252, 0, 0);
 }

 h3{
     color: rgba(250, 0, 0, 0.851);
 }

 form{
     display: flex;
     justify-content: center ;
     background-color: white ;
     border: 100px solid white ;
     
     
 }

  input{
     height:50px;
     width: 100px;
     font-size: 30px;
     color: rgb(123, 255, 0);
     border:4px solid rgb(255, 5, 5);
     border-radius: 5px;
     background-color: rgb(58, 56, 56);
     text-align: center;
     
 }

   
 button{
     width:70px;
     height:40px;
     margin-left: 3px;
     font-size: 15px;
     font-weight: bolder;
     background-color: greenyellow;
     border-radius: 5px;
     border:2px solid black;
     
}

.msg{
     text-align: center;
     margin-top:30px;
     font-size: 50px;
     font-family: 'serif';
     width: 500px;
     margin:auto;
     margin-bottom: 30px;
     background-color: rgb(14, 32, 18);
     color: rgb(227, 252, 7);
    
     
     
}

.excList{
    background-color: white;
    
}


.textcont{
     height:50px;
     width: 550px;
     background-color: black;
     border: 4px solid rgb(34, 173, 10);
     transition: all 0.1s ease-in-out 0.1s;

}

.textcont:hover{
    height: 80px;
    width: 700px;
    font-size: 50px;
}

.exchangeText{
    color: rgb(227, 252, 7);
    display: flex;
    justify-content: center;
    margin : auto;

}

.search{
    font-weight: bolder;
    color: rgb(255, 0, 0);
 
}