
* {
    box-sizing: border-box; 
    font-size: 0px;
}


#box1{
height: 100px;
width: 100%;
background-color:#F5C6D6;
border: 5px solid white;
}

#box2{
    height:100px;
    width: 25%;
    border: 5px solid white;
    background-color: #EE2E84;
    display: inline-block;
}
#box3{
    height:100px;
    width: 25%;
    border: 5px solid white;
    background-color: #EE2E84;
    display: inline-block;
}


#box4{
    height:100px;
    width: 25%;
    border: 5px solid white;
    background-color: #EE2E84;
    display: inline-block;
}
#box5{
    height:100px;
    width: 25%;
    border: 5px solid white;
    background-color: #EE2E84;
    display: inline-block;
}
#box6{
    height:100px;
    width: 50%;
    border: 5px solid white;
    background-color:#85CFD8;
    display: inline-block;
}

#box7{
    height:100px;
    width: 50%;
    border: 5px solid white;
    background-color:#85CFD8;
    display: inline-block;
}


#box8{
    height:100px;
    width: 75%;
    border: 5px solid white;
    background-color:#8DC63F;
    display: inline-block;
}
#box9{
    height:100px;
    width: 25%;
    border: 5px solid white;
    background-color:#E76E34;
    display: inline-block;
}
@media (max-width: 768px){
    #box1,
    #box2,
    #box3,
    #box4, 
    #box5,
    #box6,
    #box7,
    #box8,
    #box9{
        display: block;
        width:100%;
    }
}
