* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    height: 50pt;
    background-color:#fcfcfc; 
    display:flex;
    align-items: center;
    font-size: 17px;
    font-family:'helvetica';
    font-weight: 600;
    border-top: 5px solid rgb(34, 253, 63);
    border-bottom: 5px solid rgb(34, 253, 63);
    display:flex;
    justify-content: space-around;
}

a{
  text-decoration: none;
  color: blue;
}

.bookingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.705);
    padding-bottom: 5pt;
    padding-top: 5px;
    margin: auto
}


input{
    width:250pt;
    height: 50pt;
    margin:10pt;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    padding-left:5pt;
}


button{
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 250pt;
    height: 32pt;
    background-color: rgb(0, 179, 0);
    font-size: 14pt;
    color: white
}

.loginButton{
   width:100pt;
   height:27pt;
   font-size:12pt;
   background-color: blue;
   margin-top:30pt;
}

.loginButton2{
    width:100pt;
    height:27pt;
    font-size:12pt;
    background-color: blue;
    margin-top:10pt;
 }

 h4{
    color:blue;
    font-family: 'arial';
    font-size:14pt;
     margin-bottom: 30pt;
     text-align: center;
 }


.login1{
    width: 180pt;
    height: 32pt;
    border: 1px solid  rgba(2, 2, 2, 0.74);
    background-color:  rgb(255, 235, 209);
    color:black;
    border-radius: 3px;
    margin-top:5pt;
    padding-left:3.5pt;
    font-size:14pt;
}

.admin{
    background-color: #fffffff1;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.loginContainer{
    height:400pt;
    width:300pt;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    border: 1px solid blue;
}

.loginForm{
    margin:auto;
   
}








.pharmaport{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}