* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    width: 100vw;
    height: 50pt;
    background-color:#fcfcfc; 
    display:flex;
    align-items: center;
    font-size: 17px;
    font-family:'helvetica';
    font-weight: 600;
    border-top: 5px solid rgb(34, 253, 63);
    border-bottom: 5px solid rgb(34, 253, 63);
    display:flex;
    justify-content: space-around;
}

a{
  text-decoration: none;
  color: blue;
}