

.hello{
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
    background-color:yellow;
}

 .hello h1{
     color: red;
 }
.winter{
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
    background-color:blue;
}
.winter h1{
    color: pink;
}

.spring{
    background-color: greenyellow;
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}

.fall{
    background-color: grey;
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}

div{
    width: 70%;
}

h1{
   color: purple;
}