.todo {
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
    background-color:whitesmoke;
    
}

#list-container {
 width:220px;
 height: 200px;
    
}

body{

    background-color:lightgray;
    
}

button{
    background-color: red;
}

 #btn{
     background-color: aquamarine;
 }

 .strikethrough{
     text-decoration: line-through;
 }

 #id{
     position:relative;
     top: -307px;
     height:20px;
     width: 80%
 }

 #id2{
     position:relative;
     top: -296px;
     height:20px;
     width :80%
 }

 #id3{
     position: relative;
     top: -199px;
     height: 20px;
     width: 80%;
 }

      /* #list-container > div > input {} */