.todo {
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}

#list-container {

    width:250px
}

body{

    background-color: bisque;
    
}

button{
    background-color: red;
}

 #btn{
     background-color: aquamarine;
 }