.todo {
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
    background-color:whitesmoke;
    
}

#list-container {
    width:220px;
    height: 200px;
    
}

body{
    background-color:rgba(0, 0, 0, 0.817);
    }

button{
    background-color: red;
    height:25px;

}

 #btn{
     background-color: aquamarine;
 }

 .strikethrough{
     text-decoration: line-through;
 }

 #id{
     position:relative;
     width: 80%;
     
 }

 #id2{
     position:relative;
     width :80%;
    
     
 }

 #id3{
     position: relative;
     width: 80%;
     

 }
 #id4{
    position: relative;
    width: 80%;
    
}
img[src=""] {
    display: none;
}
#checkbox{
    height:20px;
    width: 25px;
}
h1{
    color:lawngreen;
    text-align: center
    
}


      /* #list-container > div > input {} */