

body{
    height:100vh;
    width: 100vw;
    
}

.appjs{
    background-color: rgb(255, 253, 253);
    height:100vh;
    width: 100vw;
    position:relative;
}


 .logout,
 .loginButton{
    width:90pt;
    height:24pt;
    font-size:12pt;
    margin-top:5pt;
    border-radius: 3px;
    background-color: greenyellow;
    font-weight: bolder;

 }

 .login1{
    width: 132pt;
    height: 23.5pt;
    border: 1px solid  rgba(2, 2, 2, 0.74);
    background-color:  rgb(255, 235, 209);
    color:black;
    border-radius: 3px;
    margin-top:7pt;
    padding-left:3.5pt;
}

.loginForm,
.login2{
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:200pt;
    font-family: helvetica;
    font-size:20pt;
}

.logIn,
.signUp{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width:200pt;
    font-size: 20pt;
    font-family: helvetica;
    margin:auto;
}


.home{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.logout{
    width:90pt;
    height:24pt;
    font-size:12pt;
    margin-top:40vh;
    position: fixed;
}

.showNotes2{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height:70vh;
    width:350pt;
}

h2{
    color:rgb(82, 82, 82);
    font-family: 'arial';
}

h1{
    font-family: 'arial black';
    color: red;
    margin-top: -10vh;
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

textarea{
    width:300pt;
    height:200pt;
    margin:10pt;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14pt;

}

.data{
    display: flex;
    justify-content: space-around;
    width:100vw;
}